/* Content List */

/**************   */
// 1.Document
// 2.Text
// 3.Multimedia
// 4.Tables
// 5. Form

/*************   */

/*  BASE */

*,
::before,
::after {
  box-sizing: border-box;
}

/* 1.  Document */

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $font-family-sans-serif;
  line-height: $line-height-base;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  font-size: 0.8rem;
}

/* margin classes */
@include margin-classes;

/* padding classes */
@include padding-classes;

.p0 {
  padding: 0 !important;
}

//  Tipography
body,
* {
  font-family: $font-family-sans-serif;
  line-height: $line-height-base;
  font-size: $font-size-base;
  color: $black2;
  padding: 0;
  margin: 0;

  .d-flex {
    display: flex;
    width: 100%;
  }

  .w-auto {
    width: auto !important;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 740px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.container-sm {
  @extend .container;

  max-width: 640px;
}

.container-md {
  @extend .container;

  max-width: 960px;
}

/* 2.Text */

a {
  color: $primary;
  text-decoration: none;
  background-color: transparent;
}

a {
  &:hover {
    color: $primary-alt;
    text-decoration: underline;
  }

  &:not([href]) {
    color: inherit;
    text-decoration: none;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

/* 3.Multimedia */

/* 4.Tables */

/* 5. Form */

button {
  border-radius: 0;

  &:focus {
    outline: none;
  }
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  [type="button"],
  [type="reset"],
  [type="submit"] {
    appearance: button;
  }
}

.custom-btn {
  @include btn-sod;
}
