.bg-light {
  font-weight: 400;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;

  .custom-navbar {
    &__icon {
      color: $gray-25;

      &:hover {
        cursor: pointer;
      }
      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    &__button {
      font-weight: 500;
      margin-left: 0.5rem;
      font-size: 0.85rem;
      padding: 0.5rem 1rem;
      min-width: 80px;
      &:hover {
        background-color: $primary-10;
        @include box-shadow(
          $top: 0px,
          $left: 2px,
          $blur: 3px,
          $color: rgba($black, 0.25)
        );
      }
    }

    &__bg-light {
      padding: 0.45rem 1rem;
      height: 48px;
      margin-bottom: 20px;

      @include display-flex($j-content: space-between);

      .custom-tab {
        &__bg-light {
          display: inline-flex;
          color: $gray-25;
          overflow: hidden;
        }
        &__list {
          &-bg-light {
            height: 46px;
            @include display-flex();
          }
          &-item {
            color: inherit;
            font-size: 0.75rem;
            font-weight: 600;
            height: 100%;
            padding: 0 0.5rem;
            margin-right: 0.5rem;
            text-transform: uppercase;
            @include display-flex();
            border-bottom: 2px solid transparent;

            &:hover,
            &:active,
            &-active {
              cursor: pointer;
              @include transition();
              color: $primary;
              border-color: $primary;
            }
          }
        }
      }
    }

    &__link {
      color: rgba($black, 0.87);
      font-size: 0.8rem;
      white-space: nowrap;
      text-decoration: solid;
      text-decoration-color: rgba($black, 0.87);

      &:hover {
        text-decoration: underline;
      }
    }

    @media screen and (min-width: 992px) {
      &__bg-light {
        justify-content: right;
      }

      &__button {
        min-width: 96px;
        letter-spacing: 0.25px;
      }
      &__icon {
        height: 40px;
        width: 40px;
        @include display-flex();
        &:hover {
          @include radius(
            $border-top-left: 40px,
            $border-top-right: 40px,
            $border-bottom-left: 40px,
            $border-bottom-right: 40px
          );
          background: rgba($black, 0.06);
        }
      }
    }
  }

  .custom-sidebar {
    &__bg-light {
      background: rgba($black, 0.6);
      height: 100%;
      width: 100%;
      @include transition();

      position: absolute;
      top: 0;
    }
    &__content-bg-light {
      background-color: $beige-lighter;
      position: fixed;
      height: 100%;
      width: 65%;
      overflow-y: scroll;
      padding: 1rem 0;
      @include transition($time: 0.5s);
      a {
        text-decoration: none;
      }
    }

    &__content-logo {
      line-height: 44px;
      height: 44px;
      padding-left: 15px;

      @include display-flex($j-content: left);

      picture {
        width: 5.5rem;
      }
    }

    &__content-item {
      height: 48px;
      color: rgba($black, 0.54);
      line-height: 20px;
      &:nth-child(5) {
        border-bottom: 1px solid $gray-10;
      }

      a {
        text-decoration: none;
        color: inherit;
        line-height: inherit;
        @include display-flex($j-content: left);
        font-weight: 400;

        padding: 0 15px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .custom-footer {
    &__bg-light {
      background: $white-50;
      color: $gray-25;
      &-country {
        min-height: 36px;
        @include display-flex($j-content: left);
        padding: 0 0.95rem;
      }
      &-space {
        height: 45px;
        border-top: 1px solid $gray-10;
        border-bottom: 1px solid $gray-10;
      }
      &-info {
        font-size: 0.8rem;
        padding: 0.6rem 0.95rem;
        .footer-options {
          color: inherit;
          &:hover {
            color: $gray-75;
            text-decoration: underline;
          }
        }
      }
    }
    @media screen and (min-width: 1024px) {
      &__bg-light {
        &-space {
          border-bottom: none;
          height: 0;
        }
        &-country {
          padding: 15px 30px;
          font-size: 0.95rem;
        }
        &-info {
          padding-left: 30px;
          padding-right: 30px;
          .footer-options {
            font-size: 0.95rem;
          }
        }
      }
    }
  }

  .custom-search {
    &__bg-light {
      margin: 0.5rem;

      &-content {
        @include display-flex($j-content: space-between);
        border: 1px solid $gray-10;
        @include radius(
          $border-top-left: 20px,
          $border-top-right: 20px,
          $border-bottom-left: 20px,
          $border-bottom-right: 20px
        );
        width: 100%;
        background: $white;
        min-height: 40px;

        &:hover {
          cursor: pointer;
          @include box-shadow();
        }
      }
      &-button {
        background: transparent;
        border: none;
        color: $gray-50;
        margin: 0;
        @include display-flex($j-content: center);
      }

      &-options {
        background: transparent;
        border: none;
        margin: 0;
        @include display-flex($j-content: center);
        padding: 0 0.75rem;

        .options-search {
          height: 1.5rem;
          width: 1.5rem;
          max-width: 1.5rem;
        }

        &:hover {
          cursor: pointer;
        }
      }
      &-input {
        border: none;
        background: transparent;
        padding-left: 1.2rem;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
    }
    @media screen and (min-width: 1024px) {
      &__bg-light {
        margin: 0;
        padding: 20px;
        @include display-flex($j-content: center);

        &-content {
          width: 100%;
          margin-top: 0.75rem;
          max-width: 564px;
        }

        &-button {
          font-size: 20px;
          padding-left: 0.5rem;
          span {
            font-size: inherit;
          }
        }
        &-options {
          padding: 0 0.5rem;
        }
        &-input {
          padding-left: 0;
        }
      }
    }
  }

  .landing-page {
    &__bg-light {
      padding: 0 0.95rem;
      &-content {
        margin: 0.5rem 0;
        min-height: 120px;
        @include display-flex();
        img {
          max-width: 300px;
        }
      }
      &-button {
        background: $white-75;
        border: 1px solid $white-75;
        @include radius(
          $border-top-left: 4px,
          $border-top-right: 4px,
          $border-bottom-left: 4px,
          $border-bottom-right: 4px
        );
        color: $gray-75;
        font-size: 0.85rem;
        @include display-flex();
        min-width: 60px;
        margin: 11px 4px;
        height: 36px;
        padding: 0 1rem;
        &:focus {
          outline: none;
        }
        &:hover {
          cursor: pointer;
          border-color: $gray-10;
          color: $black-10;
          @include box-shadow(
            $top: 0px,
            $left: 1px,
            $blur: 1px,
            $color: rgba($black, 0.1)
          );
        }
      }
    }
    &__link {
      text-decoration: none;
    }

    @media screen and (min-width: 1024px) {
      &__link {
        max-width: 564px;
      }
      &__bg-light {
        &-content {
          img {
            max-height: 150px;
            max-width: 375px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    min-height: calc(100vh - 0.18rem);
  }
}
