.bg-light {
  font-weight: 400;

  .custom-navbar {
     &__icon {
      color: $gray-25; 
      
      &:hover {
        cursor:pointer
      }
    }
    &__button {
      font-weight: 500;
      margin-left: 0.5rem;
      font-size: 0.850rem;
      padding: 0.5rem 1rem;
      min-width: 80px;
      &:hover {
        background-color: $primary-10;
        @include box-shadow($top: 0px,
        $left: 2px,
        $blur: 3px,
        $color: rgba($black,.25))
      }
     }
    
    &__bg-light {
      padding: 0 1rem;
      height: 48px;
      @include display-flex($j-content: space-between);
     
      .custom-tab {
        &__bg-light {
          display: inline-flex;   
          color: $gray-25; 
          overflow: hidden;
        }
        &__list {
          &-bg-light {
            height: 46px;
            @include display-flex();
          }
          &-item {
            color: inherit;
            font-size: 0.750rem;
            font-weight: 600;
            height: 100%;
            padding: 0 0.5rem;
            margin-right: 0.5rem;
            text-transform: uppercase;
            @include display-flex();
            border-bottom: 2px solid transparent;
           

            &:hover, &:active, &-active{
              cursor: pointer;
              @include transition();
              color: $primary;
              border-color: $primary;
            }
          }
          
        }
      }
    }
  }


  .custom-sidebar {
    &__bg-light {
      background: rgba($black, 0.6);
      height: 100%;
      width: 100%;
      @include transition();

      position: absolute;
      top: 0;
    }
    &__content-bg-light {
      background-color: $beige-lighter;
      position: fixed;
      height: 100%;
      width: 65%;
      overflow-y: scroll;
      padding: 1rem 0;
      @include transition($time: 0.5s);
      a {
        text-decoration: none;
      }
    }

    &__content-logo {
      line-height: 44px;
      height: 44px;
      padding-left: 15px;

      @include display-flex($j-content: left);

      picture {
        width: 5.5rem;
      }
    }

    &__content-item {
      height: 48px;
      color: rgba($black, 0.54);
      line-height: 20px;
      &:nth-child(5) {
        border-bottom: 1px solid $gray-10;
      }

      a {
        text-decoration: none;
        color: inherit;
        line-height: inherit;
        @include display-flex($j-content: left);
        font-weight: 400;

        padding: 0 15px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
