/* Content List */
/***************/
// 1.Document
// 2.Text
// 3.Multimedia
// 4.Tables
// 5. Form
/**************/

/*1. Document*/

// Mixin for custom display flex
@mixin display-flex($direction: row, $j-content: center, $a-items: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $j-content;
    align-items: $a-items;
}

// Container and media query variables
$grid-breakpoints: (
    xs: 0,
    sm: 544px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
) !default;

// Bootstrap responsive mixin
@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
}

// Break up points
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

// margin class

@mixin margin-classes {
    @for $i from 1 through $sizes {
        $margin: $i * 0.25rem;
        .m#{$i} {
            margin: $margin;
        }
        .ml#{$i} {
            margin-left: $margin;
        }
        .mr#{$i} {
            margin-right: $margin;
        }
        .mt#{$i} {
            margin-top: $margin;
        }
        .mb#{$i} {
            margin-bottom: $margin;
        }
        .mx#{$i} {
            margin-left: $margin;
            margin-right: $margin;
        }
        .my#{$i} {
            margin-top: $margin;
            margin-bottom: $margin;
        }
    }
}
// pading class
@mixin padding-classes {
    @for $i from 1 through $sizes {
        $padding: $i * 0.25rem;
        .p#{$i} {
            padding: $padding;
        }
        .pl#{$i} {
            padding-left: $padding;
        }
        .pr#{$i} {
            padding-right: $padding;
        }
        .pt#{$i} {
            padding-top: $padding;
        }
        .pb#{$i} {
            padding-bottom: $padding;
        }
        .px#{$i} {
            padding-left: $padding;
            padding-right: $padding;
        }
        .py#{$i} {
            padding-top: $padding;
            padding-bottom: $padding;
        }
    }
}


@mixin radius($border-top-left: 8px, $border-top-right: 8px, $border-bottom-left: 8px, $border-bottom-right: 8px) {
    -moz-border-radius-topleft: $border-top-left;
    -webkit-border-top-left-radius: $border-top-left;
    border-top-left-radius: $border-top-left;
    -moz-border-radius-topright: $border-top-right;
    -webkit-border-top-right-radius: $border-top-right;
    border-top-right-radius: $border-top-right;
    -moz-border-radius-bottomright: $border-bottom-right;
    -webkit-border-bottom-right-radius: $border-bottom-right;
    border-bottom-right-radius: $border-bottom-right;
    -moz-border-radius-bottomleft: $border-bottom-left;
    -webkit-border-bottom-left-radius: $border-bottom-left;
}

@mixin box-shadow($top: 6px, $left: 6px, $blur: 12px, $color: rgba(0, 0, 0, 0.25), $inset: "") {
    -webkit-box-shadow: $top $left $blur $color #{$inset};
    -moz-box-shadow: $top $left $blur $color #{$inset};
    box-shadow: $top $left $blur $color #{$inset};
}

@mixin transition($time: 0.4s, $property: all, $easing: ease-in) {
    -moz-transition: $property $time $easing;
    -o-transition: $property $time $easing;
    -webkit-transition: $property $time $easing;
    transition: $property $time $easing;
}

@mixin scroll-sod() {
    &::-webkit-scrollbar-track {
        @include box-shadow($top: 0, $left: 0, $blur: 0.3rem, $color: rgba(0, 0, 0, 0.09), $inset: "");
        background-color: $grey-10;
    }

    &::-webkit-scrollbar {
        width: 0.5rem;
        background-color: $grey-5;
    }
}

/*4.Tables */

/*5. Form*/

@mixin btn-sod($background: transparent, $color: $grey-55) {
    display: inline-flex;
    font-weight: 400;
    color: $color;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: $background;
    border: 1px solid $background;
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    align-items: center;
    height: 2.8rem;
    @include radius(
        $border-top-left: 0.35rem,
        $border-top-right: 0.35rem,
        $border-bottom-left: 0.35rem,
        $border-bottom-right: 0.35rem
    );
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;

    &:hover {
        color: $color;
        text-decoration: none;
    }

    &:focus,
    &.focus {
        outline: none;
        @include box-shadow($top: 0px, $left: 3px, $blur: 6px, $color: rgba(0, 0, 0, 0.3), $inset: "");
    }

    &.disabled,
    &:disabled {
        opacity: 0.65;
    }

    &.custom-btn-primary {
        color: $white;
        background-color: $primary;
        border: 1px solid $primary;
        min-width: 7rem;
        display: flex;
        justify-content: center;
        &:hover {  
            cursor: pointer;          
            box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 0 1px 3px 1px rgb(66 133 244 / 15%);
        }

        &:focus,
        &.focus {
            color: $white;
            background-color: $primary;
            border-color: $blue-2;
            @include box-shadow(
                $top: 0.1rem,
                $left: 0.1rem,
                $blur: 0.2rem,
                $color: rgba(200, 230, 201, 0.4),
                $inset: ""
            );
        }

        &.disabled,
        &:disabled {
            background-color: $grey-20;
            border-color: $grey-20;
            color: $grey-55;
            cursor: unset;
            box-shadow: none;
        }

  
    

        i,
        span {
            display: inline-block;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }

  

 
}

@mixin input-close-sod() {
    &[type="text"],
    &[type="password"]:not(.browser-default),
    &[type="email"]:not(.browser-default),
    &[type="url"]:not(.browser-default),
    &[type="time"]:not(.browser-default),
    &[type="date"]:not(.browser-default),
    &[type="datetime"]:not(.browser-default),
    &[type="datetime-local"]:not(.browser-default),
    &[type="tel"]:not(.browser-default),
    &[type="number"]:not(.browser-default),
    &[type="search"]:not(.browser-default) {
        border: 1px solid $grey-38;
        @include radius(
            $border-top-left: 0.25rem,
            $border-top-right: 0.25rem,
            $border-bottom-left: 0.25rem,
            $border-bottom-right: 0.25rem
        );
        box-sizing: border-box;

        &.custom-form-control {
            display: block;
            width: 100%;
            height: calc(2.25rem + 2px);
            padding: 0.375rem 2.5rem 0.375rem 1rem;
            font-size: 0.85rem;
            line-height: $line-height-base;
            color: $grey-55;
            background-color: $white;
            background-clip: padding-box;
            border: 1px solid $grey-38;
            @include radius(
                $border-top-left: 0.25rem,
                $border-top-right: 0.25rem,
                $border-bottom-left: 0.25rem,
                $border-bottom-right: 0.25rem
            );
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

            &:focus {
                color: $blue;
                background-color: $white;
                border-color: $blue;
                outline: 0;
                @include box-shadow($top: 0, $left: 0, $blur: 0.2rem, $color: rgba(30, 34, 170, 0.5), $inset: "");
            }

            &.is-invalid,
            &.input-validation-error {
                border-color: $red-3;
                padding-right: calc(1.5em + 0.75rem);
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
                background-repeat: no-repeat;
                background-position: right calc(0.375em + 0.1875rem) center;
                background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);

                i,
                span {
                    color: $red;
                }
            }

            &:invalid:focus,
            &.is-invalid:focus {
                border-color: $red-3;
                @include box-shadow(0.075rem, 0.075rem, 0.3rem, rgba(220, 53, 69, 0.25), $inset: " ");
                color: $red-3;
            }

            &.is-valid {
                &.is-valid {
                    border-color: $green-3;
                    padding-right: calc(1.5em + 0.75rem);
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
                    background-repeat: no-repeat;
                    background-position: right calc(0.375em + 0.1875rem) center;
                    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
                }

                i,
                span {
                    color: $primary;
                }
            }

            &:valid:focus,
            &.is-valid:focus {
                border-color: $green-3;
                @include box-shadow(0.075rem, 0.075rem, 0.3rem, rgba(165, 214, 167, 0.4), $inset: "");
                color: $green-3;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
                background-repeat: no-repeat;
                background-position: right calc(0.375em + 0.1875rem) center;
                background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
            }

            &::-webkit-input-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder,
            &:-ms-input-placeholder,
            &::placeholder {
                color: #6574cd;
                opacity: 1;
            }

            &::-ms-expand {
                background-color: transparent;
                border: 0;
            }

            &:disabled,
            &[readonly] {
                background-color: $grey-20;
                opacity: 1;
            }

            &.custom-form-control-sm {
                height: calc(1.8125rem + 2px);
                padding: 0.25rem 0.5rem;
                font-size: 0.75rem;
                @include radius(
                    $border-top-left: 0.2rem,
                    $border-top-right: 0.2rem,
                    $border-bottom-left: 0.2rem,
                    $border-bottom-right: 0.2rem
                );
            }

            &.custom-form-control-lg {
                height: calc(2.875rem + 2px);
                padding: 0.5rem 1rem;
                font-size: 1.2rem;
                @include radius(
                    $border-top-left: 0.3rem,
                    $border-top-right: 0.3rem,
                    $border-bottom-left: 0.3rem,
                    $border-bottom-right: 0.3rem
                );
            }
        }
    }
}
