@mixin display-flex($direction: row, $j-content: center, $a-items: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $j-content;
  align-items: $a-items;
}

@mixin radius(
  $border-top-left: 8px,
  $border-top-right: 8px,
  $border-bottom-left: 8px,
  $border-bottom-right: 8px
) {
  border-top-left-radius: $border-top-left;
  border-top-right-radius: $border-top-right;
  border-bottom-right-radius: $border-bottom-right;
  border-bottom-left-radius: $border-bottom-left;
}

@mixin box-shadow(
  $top: 0px,
  $left: 3px,
  $blur: 4px,
  $color: rgba(0, 0, 0, 0.25)
) {
  box-shadow: $top $left $blur $color;
}

@mixin transition($time: 0.4s, $property: all, $easing: ease-in) {
  transition: $property $time $easing;
}
