// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,400&display=swap');

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$gray: #94a1b2;
$beige-light: #d0d1cd;
$beige-lighter: #fffffe;
$family-sans-serif: 'Roboto', helvetica, sans-serif;
$black: #000000;
$white: #ffffff;

$gray-10: #dadce0;
