// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;

$beige-light: #d0d1cd;
$beige-lighter: #fffffe;
$family-sans-serif: 'Roboto', helvetica, sans-serif;
$black: #000000;

$white-75: #f2f2f2;
$white: #ffffff;

$primary: #1a73e8;
$primary-10: #1b66c9;

$gray-75: #3c4043;
$gray-50: #9aa0a6;
$gray: #94a1b2;
$gray-25: #70757a;
$gray-10: #dadce0;
